# coding=utf-8
database_driver = 'sqlite3'
database_path = '/database/path'

# database_driver = 'mysql'
# database = 'database'
# database_user = 'user'

username = 'username'
password = 'password'

cust_code = 'cust_code'
phone_no_info = u'phone#1#Βασική Πρόσβαση ISDN (BRA)-ISDN'
phones = 'phone'

vat = 23
